<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="D:\7th Semester\Full Stack Dev Academics\Assignments\Assignment 6\blood_donation_app\static\js\script.js"></script>
    <title>Blood Donation Website</title>
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/blood_bg.png') }}" alt="Blood Donation logo">
                <p>Donate Blood</p>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}" class="nav-link">Home</a></li>
                    <li><a href="{{ url_for('registration') }}" class="nav-link">Registration</a></li>
                    <li><a href="{{ url_for('enquiry') }}" class="nav-link">Enquiry</a></li>
                    <li><a href="https://www.amrita.edu" class="nav-link" target="_blank">About our Organization</a></li>
                    <li><a href="https://www.amrita.edu/news/donate-blood-save-lives/" class="nav-link">Our Previous Drives</a></li>
                </ul>
            </nav>
        </div>
        <div class="user-section dropdown">
            <button class="dropbtn">
              <img src="{{ url_for('static', filename='images/amrita_logo.png') }}" alt="User" class="profile-pic">Signin/Register
            </button>
            <div class="dropdown-content">
              <a href="{{ url_for('login') }}">Sign In</a>
              <a href="{{ url_for('registration') }}">Register</a>
            </div>
          </div>
    </header>
    
    <div class="container reg-container">
        <div class="headings">
            <h1>Donor Login</h1>
        </div>
        <form action="{{ url_for('login') }}" method="post" class="form">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="form-group">
                <label for="aadhar">Aadhar Number:</label>
                <input type="text" name="aadhar" id="aadhar" pattern="\d{4}\s\d{4}\s\d{4}" title="Please enter a valid Aadhar number with spaces after every 4 digits" required>
            </div>
            <div class="button-container">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
        <p id="invalidCredentialsMessage" style="display: none; color: red;">Invalid Credentials</p>
    </div>
    <footer>
        <p>&copy; 2023 Blood Donation Organization</p>
    </footer>
</body>
</html>
